#panel.transparent-top-bar--solid {
    transition-duration: 300ms;
}

#panel.transparent-top-bar--transparent {
    transition-duration: 500ms;
}

#panel.transparent-top-bar--solid .panel-corner {
    -panel-corner-border-width: 0px;
    transition-duration: 300ms;
}

#panel.transparent-top-bar--transparent:overview {
    background-color: transparent;
    transition-duration: 250ms;
}

#panel .panel-corner {
  -panel-corner-border-width: 0px;
}

@for $i from 0 through 100 {
    $opacity: $i / 100;
    @debug "Opacity: #{$opacity}";
    #panel.transparent-top-bar--transparent-#{$i} {
        background-color: rgba(0, 0, 0, $opacity);
        -panel-corner-border-width: 0px;
        -panel-corner-opacity: $opacity;
        transition-duration: 500ms;
    }

    #panel.transparent-top-bar--transparent-#{$i} .panel-corner {
        -panel-corner-background-color: rgba(0, 0, 0, $opacity);
    }
}

#panel.transparent-top-bar--transparent:overview .panel-corner {
    -panel-corner-opacity: 0;
    transition-duration: 250ms;
}

#panel.transparent-top-bar--transparent .panel-button {
    color: #eee;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    transition-duration: 100ms;
}

#panel.transparent-top-bar--transparent .system-status-icon,
#panel.transparent-top-bar--transparent .app-menu-icon > StIcon,
#panel.transparent-top-bar--transparent .popup-menu-arrow {
    icon-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

#panel.transparent-top-bar--transparent:hover {
    text-shadow: 0px 1px 6px black;
}

#panel.transparent-top-bar--transparent:hover .system-status-icon,
#panel.transparent-top-bar--transparent:hover .app-menu-icon > StIcon,
#panel.transparent-top-bar--transparent:hover .popup-menu-arrow {
    icon-shadow: 0px 1px 6px black;
}

#panel.transparent-top-bar--transparent:active .system-status-icon,
#panel.transparent-top-bar--transparent:overview .system-status-icon,
#panel.transparent-top-bar--transparent:focus .system-status-icon,
#panel.transparent-top-bar--transparent:checked .system-status-icon {
    icon-shadow: black 0 2px 2px;
}