#panel.transparent-top-bar {
    transition-duration: 500ms;
}

#panel.transparent-top-bar:overview {
    background-color: transparent;
    transition-duration: 250ms;
}

#panel .panel-corner {
  -panel-corner-border-width: 0px;
}

@for $i from 0 through 100 {
    $opacity: $i / 100;
    @debug "Opacity: #{$opacity}";
    #panel.transparent-top-bar-#{$i} {
        background-color: rgba(0, 0, 0, $opacity);
        -panel-corner-border-width: 0px;
        -panel-corner-opacity: $opacity;
        transition-duration: 500ms;
        box-shadow:  none;
    }

    #panel.transparent-top-bar-#{$i} .panel-corner {
        -panel-corner-background-color: rgba(0, 0, 0, $opacity);
    }
}

#panel.transparent-top-bar:overview .panel-corner {
    -panel-corner-opacity: 0;
    transition-duration: 250ms;
}

#panel.transparent-top-bar .panel-button {
    color: #eee;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    transition-duration: 100ms;
}

#panel.transparent-top-bar .system-status-icon,
#panel.transparent-top-bar .app-menu-icon > StIcon,
#panel.transparent-top-bar .popup-menu-arrow {
    icon-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

#panel.transparent-top-bar:hover {
    text-shadow: 0px 1px 6px black;
}

#panel.transparent-top-bar:hover .system-status-icon,
#panel.transparent-top-bar:hover .app-menu-icon > StIcon,
#panel.transparent-top-bar:hover .popup-menu-arrow {
    icon-shadow: 0px 1px 6px black;
}

#panel.transparent-top-bar:active .system-status-icon,
#panel.transparent-top-bar:overview .system-status-icon,
#panel.transparent-top-bar:focus .system-status-icon,
#panel.transparent-top-bar:checked .system-status-icon {
    icon-shadow: black 0 2px 2px;
}